<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="Rodrigo Moura da Costa" />
	<meta name="description" content="Upload service data." />
	<meta name="robots" content="noindex, nofollow" />
	<title>Curriculum Vitae Service Spring | Upload Data</title>
</head>

<body>

<form name="uploadForm" th:action="@{/upload}" method="POST" enctype="multipart/form-data">
	<label>Data:</label><input type="file" name="data" /><input type="submit" value="Upload" />
</form>

<div th:if="${success != null}" th:text="${success == 'true'} ? 'Upload successful!' : 'Something went wrong...'">
</div>

</body>

</html>
